$black: #000;
$blue: #2a4d87;
$dark-blue: #1e3760;
$white: #fff;
//
$success: #8bca82;
$processing: #828bca;
$notstarted: #828282;
$error: #ca828b;

$colors: (
  "black": $black,
  "blue": $blue,
  "dark-blue": $dark-blue,
  "white": $white,
  "success": $success,
  "processing": $processing,
  "notstarted": $notstarted,
  "error": $error,
);
